@media screen and (max-width: 1090px) {
    .container{
        margin: 0 50px;
    }

    .home-page{
        .container-stretch{
            margin: 0 50px;

            .works{
               //margin: 0 -40px;

                a{
                    width: calc(50% - 40px);
                    height: 380px;
                    margin: 20px 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar .navbar-left li {
        margin-right: 30px;
    }

    .heading{
        width: 360px;
        margin-top: 100px;

        h1{
            font-size: 38px;
            line-height: 42px;
        }

        p{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 450px){
    .container{
        margin: 0 20px;
    }

    .navbar .navbar-right{
        display: none;
    }

    .navbar {
        margin-right: 1px;
    }

    .heading{
        width: auto;
    }
}
