@media screen and (max-width: 1090px) {
    .container{
        margin: 0 50px;
        &.container-stretch{
            margin: 0 50px;
            min-width: 320px;
        }
    }

    .home-page{
        .container-stretch{
            .works{
               margin: 0 -20px; 

                a{
                    width: calc(50% - 40px);
                    height: 380px;
                    margin: 20px 20px;
                }
            }
        }
    }

    .case{
        .container.container-stretch{
            .grid-2-col{
                margin: 0 -20px;
    
                img{
                    width: calc(50% - 40px);
                    margin: 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar .navbar-left li {
        margin-right: 30px;
    }

    .home-page{
        .container-stretch{
            .works{
                margin: 0px;

                a{
                    display: block;
                    width: 100%;
                    margin: 10px 0;

                    &:nth-child(odd){
                        transform: translateY(0px);
                    }
                }
            }
        }

    }

    .case{
        .container.container-stretch{
            .grid-2-col{
                display: block;
                width: 100%;
                margin: 0;
    
                img{
                    width: 100%;
                    margin: 0px 0px 60px 0px;

                }
            }

        }
    }

    .container.container-stretch{
        margin: 0;

        .category{
            margin: 0 50px;
            width: auto;
        }
    }

    .container{
        .heading{
            width: 360px;
            margin-top: 100px;

            h1{
                font-size: 38px;
                line-height: 42px;
                img{
                    display: block;
                    width: 38px;
                    height: 38px;
                    margin-bottom: 20px;
                }
            }

            p{
                margin-top: 30px;
            }
        }
    }
    
    .about-page{
        height: 100%;
        min-height: 100vh;
    }

    .contacts-page{
        height: 100%;
        min-height: 100vh;
        
        .contacts-list{
            padding-bottom: 100px;
        }
    }
}

@media screen and (max-width: 450px){
    .container{
        margin: 0 20px;
    }

    .case{
        .container.container-stretch{
            margin-bottom: 100px;

            .category{
                margin: 0 20px 60px 20px;
            }
        }
    }

    .navbar .navbar-right{
        display: none;
    }

    .navbar {
        margin-right: 1px;
    }

    .container{   
        .heading{
            width: auto;
        }
    }

    .case{
        .heading{
            a{
                margin-top: 20px;
            }
        }
    }
}
