@font-face {
    font-family: 'Rogan';
    src: url('../../fonts/Rogan.otf');
}
@font-face {
    font-family: 'FormularRegular';
    src: url('../../fonts/Formular-Regular.otf');
}
@font-face {
    font-family: 'FormularBold';
    src: url('../../fonts/Formular-Bold.otf');
}