//COLORS

$dark: #131313;
$blue: #2D306C;
$gray: #323238;
$rose: #FF668B;

$black: #000000;
$white: #FFFFFF;



//FONTS
$styled-text: "Rogan";
$regular-text: "FormularRegular";
$bold-text: "FormularBold";